@model PTSWebApi.Models.PtsTreatmentComment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PtsTreatmentComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment.CommentText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Treatment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Treatment.TreatmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TreatmentCommentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
