@model PTSWebApi.Models.PtsFieldBlock

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PtsFieldBlock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlockChar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlockChar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlockDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlockDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FieldBlockId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
