@model IEnumerable<PTSWebApi.Models.PtsResultEntry>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResultValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DosageAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultFormat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrialGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResultValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DosageAmount.DosageAmountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultFormat.ResultFormatDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrialGroup.TrialGroupId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResultEntryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResultEntryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResultEntryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
