@model PTSWebApi.Models.PtsTrialGroup

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PtsTrialGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrialGroupNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrialGroupNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FieldBlock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldBlock.BlockChar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.PlantName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TrialGroupId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
