@model PTSWebApi.Models.PtsTrialTypeDosageType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PtsTrialTypeDosageType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DosageType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DosageType.DosageTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrialType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrialType.TrialTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrialTypeDosageTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
