@model IEnumerable<PTSWebApi.Models.PtsTrialTypeDosageType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DosageType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrialType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DosageType.DosageTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrialType.TrialTypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrialTypeDosageTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrialTypeDosageTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrialTypeDosageTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
